{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <h2>{{ title|upper }}</h2>

    {{ form_start(formRegister) }}
    <div class="form-control">
    {{ form(formRegister) }}
    </div>
    {{ form_end(formRegister) }}

{% endblock %}