{% extends 'base.html.twig' %}

{% block title %}{{ titre }}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>{{ titre }}</h1>

    <ul>
    {% for type in types %}
        <li>{{ type.type }}</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
