{% extends 'base.html.twig' %}

{% block title %}{{ titre }}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>{{ type.type|capitalize }}</h1>
    
    <h2>Liste des artistes</h2>
    <ul>
    {% for artistType in type.artistTypes %}
        <li>{{ artistType.artist }}</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
